* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0b;
    color: white;
    font-family: Poppins,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
}

.logo h1 {
    color: #d4af37;
    font-family: Cinzel,serif;
}

.logo p {
    color: #aaa;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
    url("images/file_000000006fb08211857634ca5d39cd70.png");
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 60px;
    color: #d4af37;
}

.hero h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 15px 35px;
    background: #d4af37;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
